<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SreenQMultiplexTheatre</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.css}"/>
<link rel="stylesheet" href="#" th:href="@{/css/all.css}"/>
<link rel="stylesheet" href="#" th:href="@{/css/index.css}"/>
</head>
</head>
<body>

	<div class="container base">
		<div class="row base-row">
			<div class="col-3 menu">
			<div class="logo mb-5 text-center text-light bg-dark pt-1 pb-1">
			<h4>SreenQ Multiplex Theatre</h4>
			</div>
				<ul class="list">
					<li><a th:href="@{/home}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					
					<li><a th:href="@{/About}"><i class="fas fa-address-card"></i>&nbsp;&nbsp;About
							us</a></li>
					<li><a th:href="@{/contact}"><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Contact
							us</a></li>
					<li><a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp;Logout</a></li>
				</ul>
				
			
			</div>
			<div class="col-9 before_login_home" style="background: rgb(234, 59, 82);width:50%;height:60px;">
			<div class="col" style="width:100%;height:270px;margin-top:60px;">
			<img th:src="@{/Images/red-movie-theater-seats-with-curtains-background_1017-38388.avif}" 
			width="80%" height="250px" style="margin-left: 80px ;margin-top: 20px">
			</div>
			<div class="col" style="width:100%; height:260px;margin-top:40px;background-color:black">
			<p style="font-size: 18px;color:white;font-family:sans-serif;">
			
			SreenQ Multiplex Theatre is equipped with comfortable push backed enabled Seating and fully air conditioned. 
			The theatre has ample car and two-wheeler Parking and the canteen caters fresh and quality food items. A cinema hall which provides redefining movie going experience.

Be spoilt for choice! </p><p style="font-size: 18px;color:white;font-family:sans-serif;">We, offers a wide selection of short eats and beverages that are not only scrumptious but also stored and served under safe and hygienic conditions. The menu selection offers a range of irresistible combos too. The menu undergoes regular revisions to surprise your taste buds. We have also revamped our canteen facilities to deliver quick service and our courteous staff will ensure that you enjoy the services all all times. 
			
			
			</div>
			</div>
			
			
			</div>
			</div>
			
			
</body>
</html>